@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

*:focus {
  outline: none;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #E5E7EB; /* bg-gray-200 */
  border-radius: 1rem;       /* rounded-xl */
}

/* 채워진 바 (WebKit) */
progress::-webkit-progress-value {
  background-color: #3B82F6; /* accent-[#3182F7] */
  border-radius: 1rem;
}

/* 채워진 바 (Firefox) */
progress::-moz-progress-bar {
  background-color: #3B82F6;
  border-radius: 1rem;
}

input::placeholder {
  color: #ccc;
  font-size: 1.2rem;
}
